*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/sessions/kotlin-compiler-13979028202027258557.salive
/.idea/inspectionProfiles/Project_Default.xml
/navigation-docs/
